*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

section{
    margin: auto;
    width: 50%;
}

button{
    margin: auto;
    width: 300px;
    text-align: center;

}

li{
    list-style: none;
    display: block;
    flex: 0 1 auto;
}

button {
    margin-top: 8px;
    display: flex;
    width: 80px;
}

hr{
    margin-top: 32px;
    width: 372px;
}

p{
    position: fixed;
    color: gray;
    font-style: italic;
    margin-left: -120px;
    margin-top: -8px;
}

