*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5CDB95;
    color: #05386B;
}

header{
    width: 100%;
}

.timer{
    display: inline;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.question{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

section{
    margin: auto;
    width: 50%;
}

div{
    width: 50%;
    display: flex;
    margin-right: 0px;
}

button{
    margin: auto;
    width: 100px;
    text-align: center;

}

.highscore{
    margin: auto;
    width: 50%;
}

ol{
    transform: translateX(100px);
}

button {
    display: flex;
    width: 120px;    
    background-color: #05386B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: green;
}

.container{
    width: 600px;
    transform: translateX(100px);
}

#submit{
    float: right;
}

hr{
    width: 372px;
    margin-bottom: 8px;
}

.ans{
    color: gray;
    font-style: italic;
}

