/* global css element*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/* heading margin, color, and position */
header{
    width: 100%;
}

/* background color and font color */
body{
    background-color: #5CDB95;
    color: #05386B;
}

/* formatting for the timer count down */
.timer{
    display: inline;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

/* question formatting and size */
.question{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

/* section formatting for each section */
section{
    margin: auto;
    width: 50%;
}

/* button sizing and formatting */
button{
    margin: auto;
    width: 300px;
    text-align: center;

}

/* list formatting */
li{
    list-style: none;
    display: block;
    flex: 0 1 auto;
}

/* more button sizing and formatting */
button {
    display: flex;
    width: 120px;
}

/* making sure the container is big enough for question items */
.container{
    width: 600px;
    margin-left: -200px;
}

/* submit button */
#submit{
    float: right;
}

/* page breaks color and sizing*/
hr{
    width: 372px;
    margin-bottom: 8px;
    color: black
}
/* style of the answer that pops up after each question */
.ans{
    color: gray;
    font-style: italic;
}

/* more button styling and formatting */
button{
background-color: #05386B; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}