*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
}

.timer{
    display: inline;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.question{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

section{
    margin: auto;
    width: 50%;
}

div{
    width: 50%;
    display: flex;
    margin-right: 0px;
}

button{
    margin: auto;
    width: 100px;
    text-align: center;

}

.list{
    margin: auto;
    width: 50%;
}

ul{
    list-style: none;
    transform: translateX(100px);
}

li{
    list-style: none;
    transform: translateX(-65px);
    margin-bottom: 24px;
    background-color: green;
    border: dotted 4px greenyellow;
    color: white;
    padding: 12px;
    width: 50%;
}

button {
    display: flex;
    width: 120px;
}

button:hover{
    background-color: green;
}

.container{
    width: 600px;
    transform: translateX(100px);
}

#submit{
    float: right;
}

hr{
    width: 372px;
    margin-bottom: 8px;
}

.ans{
    color: gray;
    font-style: italic;
}

